body {
    background-color: #fde74c
}
div.c-center {
    position: absolute;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #e3655b; 
    letter-spacing: 3px;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #4c5b5c;
}

a:link, a:visited {
    font-family: 'Open Sans', sans-serif;
    background-color: #3891a6;
    color: white;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    font-family: 'Kulim Park', sans-serif;
    background-color: #4a9bae;
}