* {
  box-sizing: border-box;
}

body {
  font-family: 'Overpass';
  font-size: large;
}

#siteContainer {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1rem;
}

#outlet {
  flex: 1 1 750px;
}

#leftMargin, #rightMargin {
  flex: 0 4 5rem;
}

h1 {
  font-family: 'Acme';
  font-size: 42px;
}

h2 {
  font-family: 'Acme';
  font-size: 24px;
  color: IndianRed;
}

a {
  color: peru;
}

a:visited {
  color: brown;
}